*{
    box-sizing: border-box;
    margin-top: 0;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./flag-palestine-wallpaper-preview.jpg');
    font-family:Cascadia Code;
    overflow-x: hidden;
}
.container {
    /* background-color: #333; */
    margin-top:0;
    border-radius: 10px;
    color: white;
    position: relative;
    /* background: rgb(3,6,55);
    background: radial-gradient(circle, rgba(3,6,55,1) 0%, rgba(60,7,83,1) 89%); */
    /* background-color: #7AA2E3; */
    background-color: #0f0f0f7a;

}
h1 {
    font-weight: bolder;
    font-family: 'Kanit', sans-serif;
    
    margin-top: 10px;
}
i {
    color:rgb(114,193,199);
}
h2 {
    font-weight: 700;
    /* color: white; */
    padding: 10px;
    border-radius: 10px;

}
label i {
    color: white;
}
label {
    font-weight: 700;
}
.inpts {
    margin: 20px;
}
#errormessage {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    position:absolute;
    top: 30%;
    left: 25%;
    display: none;
    border-radius: 20px;
}
tbody {
    font-weight: bold;
   
}
.displaydata {
    margin-bottom: 20px;
}
#link-visit {
    cursor: pointer;
    color: #B197FC;
    text-decoration: underline;
    transition: ease-in-out .2s linear ;

}
#srchinpt{
    width: 70%;
}

@media (max-width:700px) {
    #srchinpt{
        width: 90%;
    }
}